/* Author: Tran Thao Nguyen HUYNH
Date: 
Version: 
*/

/*
COLOURS
#000000 - black (for text)
#ffa500 - orange
#003579 - navy blue
#225c71 - dark teal
#c62d03 - burnt red
#FFFFCC - soft yellow
#00FFFF - cyan
*/
@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');
/* Import Spinnaker font from Google font */

/* GLOBAL STYLE */
body {
    font-size: 16px;
    /* font-size property sets the size of the text */
    font-weight: 300;
    /* font-weight sets the weight (or boldness) of the font. */
    font-family: 'Spinnaker', sans-serif;
    /* font-family specifies prioritized list of one or more family names for selected element*/
    color: #000000;
    /* black */
}

#wrapper {
    position: relative;
    /* positioned wrapper relative to its normal position */
    width: 1200px;
    /* sets wrapper's width to 1200px */
    margin: 0px auto;
    /* auto value horizontally center wrapper*/
    background-color: #FFFFCC;
    /* set background color to yellow*/
}

h1 {
    color: #003579;
    /* set color text to navy blue*/
    font-size: 2em;
    /* set font size to 32px*/
    font-weight: 700;

}

h2 {
    color: #003579;
    font-size: 1.6em;
    /* set font size to 25.6px*/
    font-weight: 700;
}

h3 {
    color: #003579;

}

a {
    text-decoration: none;
    /* no line is drawn, and any existing decoration is removed.*/

    color: #225c71;
}

a:visited {
    color: #c62d03;
}

/*The :visited selector is used to select visited links.

*/

/* HEADER */
header {
    background: #FFFFCC url(Image/banner.png);
    /* add banner*/
    height: 430px;
    /* header's height 430px*/
    color: #000000;
    /* text color: black*/
}

header h1 {
    visibility: hidden;
    /* hide h1 (Fun Perth) from header*/
}

header img {
    position: relative;
    top: 25px;
    /* The top property affects the vertical position of a positioned element. */
    left: 10px;
    /* The left property affects the horizontal position of a positioned element. */
    z-index: 50;
    /* The z-index CSS property sets the z-order of a positioned element and its descendants or flex items. */

}

/* BUTTON STYLE LINK */
article a {
    color: #003579;
    text-decoration: none;
    border: 2px solid #003579;
    /* line navy blue border 2px thickess  */
    padding: 5px 20px;
    /* top and bottom paddings are 2, right and left paddings are 20px */
}

article a:visited {
    color: #003579;
    /*The :visited selector will turn navy blue.

*/
}

/* BODY */
/* CONTENT AREA 1 */
#column {
    background-color: #FFFFCC;
    /* Set background color to soft yellow */
    color: #000000;
    /* Set text color to black */
    display: flex;
    /* Use flexbox for layout */
    padding: 25px;
    /* Add padding to the column section */
}

#column h2 {
    display: block;
    margin: 0;
    padding: 50px;
    /* Add padding to the h2 element inside the column section */
}

#column div {
    padding-left: 25px;
    /* Add left padding to the div elements inside the column section */
}

/* CONTENT AREA 2 */
#acknowledgement {
    background-color: rgba(0, 53, 151, 0.4);
    /* Set background color to a translucent blue */
    color: white;
    /* Set text color to white */
    text-align: center;
    /* Center-align the content */
    padding: 25px;
    /* Add padding to the acknowledgement section */
}

#disabilityaccess {
    display: relative;
    /* Set relative positioning for the disabilityaccess section */
    padding: 60px;
    /* Add padding to the disabilityaccess section */
}

#disabilityaccess p {
    width: 550px;
    /* Set width for the p elements inside the disabilityaccess section */
}

#disabilityaccess div {
    display: flex;
    /* Use flexbox for layout */
}

#disabilityaccess img {
    margin: 30px;
    /* Add margin to the images inside the disabilityaccess section */
    display: inline;
    /* Display the images as inline elements */
    padding-left: 50px;
    /* Add left padding to the images inside the disabilityaccess section */
}

/* SIDEBAR SECTION */
aside {
    padding: 0px 25px 0px 25px;
    /* Add padding to the sidebar section */
    display: relative;
    /* Set relative positioning for the sidebar section */
}

aside div {
    display: flex;
    /* Use flexbox for layout */
}

aside img {
    padding-left: 50px;
    /* Add left padding to the images inside the sidebar section */
}

aside section {
    width: 600px;
    /* Set width for the sections inside the sidebar section */
    height: 200px;
    /* Set height for the sections inside the sidebar section */
}

aside p {
    margin: 0px 0px 16px 50px;
    /* Set margin for the paragraphs inside the sidebar section */
}

aside h2 {
    color: #003579;
    /* Set heading color to navy blue */
    display: block;
    margin: 0;
    padding: 25px 25px 25px 50px;
    /* Add padding to the h2 element inside the sidebar section */
}

aside a {
    margin-left: 50px;
    /* Add left margin to the anchor elements inside the sidebar section */
    color: #003579;
    /* Set link color to navy blue */
    text-decoration: none;
    /* Remove underline from the anchor elements */
    border: 2px groove #003579;
    /* Add border to the anchor elements */
    padding: 5px 20px;
    /* Add padding to the anchor elements */
}

/* BLOCKQUOTE SECTION */
blockquote {
    justify-content: center;
    /* Center-align the content */
    font-size: 20px;
    /* Set font size for the blockquote */
    border-left: 5px solid #003579;
    /* Add left border to the blockquote */
    width: inherit;
    /* Make the blockquote inherit the width */
    padding: 10px;
    /* Add padding to the blockquote */
    margin: 100px;
    /* Add margin to the blockquote */
}

blockquote p {
    margin-bottom: 10px;
    /* Add bottom margin to the paragraphs inside the blockquote */
}

/* ABOUT US SECTION */
.testimonial {
    margin: auto;
    /* Center-align the testimonials section */
    width: 1000px;
    /* Set width for the testimonials section */
    padding: 0px 20px 0px 20px;
    /* Add padding to the testimonials section */
    display: flex;
    /* Use flexbox for layout */
    grid-template-columns: caclc(80% - 30%) calc (30% - 45%);
    /* Define grid template columns */
    grid-gap: 15px;
    /* Set gap between grid items */
    height: 350px;
    /* Set height for the testimonials section */
}

.testimonial p {
    width: 333px;
    /* Set width for the paragraphs inside the testimonials section */
}

.center {
    margin: 30px;
    /* Add margin to the center section */
    width: 1100px;
    /* Set width for the center section */
}

/* QA SECTION */
#QA section {
    border: 3px ridge #003579;
    /* Add a ridge border with color navy blue*/
    width: 800px;
    /* Set width to 800px */
    margin: auto;
    /* Center-align the section */
}

#QA h2 {
    margin-bottom: 30px;
    /* Add bottom margin to the h2 element inside the QA section */
}

#QA p {
    padding: 0px 16px 0px 16px;
    /* Add padding to the paragraphs inside the QA section */
}

/* VISION SECTION */
.vision {
    margin-top: 55px;
    /* Add top margin to the vision section */
    background-color: rgba(0, 53, 151, 0.4);
    /* Set background color to a translucent blue */
    color: white;
    /* Set text color to white */
    border-top-right-radius: 100px;
    /* Add top-right border radius */
    border-bottom-right-radius: 100px;
    /* Add bottom-right border radius */
    width: 1150px;
    /* Set width to 1150px */
    height: 300px;
    /* Set height to 300px */
}

.vision p {
    width: 950px;
    /* Set width for the paragraphs inside the vision section */
    padding-left: 30px;
    /* Add left padding to the paragraphs inside the vision section */
}

.vision h2 {
    padding: 20px 0px 0px 20px;
    /* Add padding to the h2 element inside the vision section */
}

/* EXPLORE SECTION */
.video {
    position: relative;
     /* Sets the positioning relative of the element */
    padding: 25px;
     /* Adds 25 pixels of padding around the element */
}

.click {
    margin: 0px 255px 0px 255px;
}

/* add margin to the click section */

.pick {
    padding: 32px 0px 0px 25px;
    /* Add padding to the pick section */
    margin: 0px;
    /* Remove margin from the pick section */
}

.onyoutube {
    position: absolute;
    /* stay relative to aside video */

    margin: 10px 255px 0px 255px;
    /* add margin to the click section */

}

.trips {
    padding: 50px 20px 14px 20px;
    /* Add padding to the trips section */
    display: flex;
    /* Use flexbox for layout */
    grid-template-columns: caclc(80% - 30%) calc (30% - 45%);
    /* Define grid template columns */
    grid-gap: 15px;
    /* Set gap between grid items */
    height: 450px;
    /* Set height to 450px */
}

.trips p {
    padding-left: 20px;
    /* Add left padding to the paragraphs inside the trips section */
}

.trips h2 {
    margin: 25px 0px 25px 10px;
    /* Add margin to the h2 element inside the trips section */
}

.trips a {
    margin-left: 20px;
    /* Add left margin to the anchor elements inside the trips section */
}

#adventure {
    background-color: rgba(0, 53, 151, 0.4);
    /* Set background color to a translucent blue */
    border-radius: 20px;
    /* Add border radius to the adventure section */
}

#family {
    background-color: rgba(255, 165, 0, 0.4);
    /* Set background color to a translucent orange */
    border-radius: 20px;
    /* Add border radius to the family section */
}

#relaxation {
    background-color: rgba(0, 255, 255, 0.4);
    /* Set background color to a translucent cyan */
    border-radius: 20px;
    /* Add border radius to the relaxation section */
}

#title {
    margin: 25px 0px 0px 25px;
    /* Add margin to the title element */
}

.perthevents {
    margin-bottom: 25px;
    /* Add bottom margin to the perthevents section */
    display: flex;
    /* Use flexbox for layout */
    width: 300px;
    /* Set width for the perthevents section */
}

.perthevents img {
    margin: 0px 25px 25px 25px;
    /* Add margin to the images inside the perthevents section */
}

.perthevents p {
    margin: 0px 25px 0px 25px;
    /* Add margin to the paragraphs inside the perthevents section */
}

.perthevents h3 {
    margin: 25px;
    /* Add margin to the h3 element inside the perthevents section */
}

.perthevents2 {
    margin-bottom: 35px;
    /* Add bottom margin to the perthevents2 section */
    display: flex;
    /* Use flexbox for layout */
    width: 300px;
    /* Set width for the perthevents2 section */
}

.perthevents2 img {
    margin: 0px 25px 25px 25px;
    /* Add margin to the images inside the perthevents2 section */
}

.perthevents2 p {
    margin: 0px 25px 0px 25px;
    /* Add margin to the paragraphs inside the perthevents2 section */
}

.perthevents2 h3 {
    margin: 25px;
    /* Add margin to the h3 element inside the perthevents2 section */
}

#title2 {
    margin: 25px 0px 0px 25px;
    /* Add margin to the title2 element */
}

.activity {
    margin-bottom: 25px;
    /* Add bottom margin to the activity section */
    display: flex;
    /* Use flexbox for layout */
    width: 300px;
    /* Set width for the activity section */
}

.activity img {
    margin: 0px 25px 25px 25px;
    /* Add margin to the images inside the activity section */
}

.activity p {
    margin: 0px 25px 0px 25px;
    /* Add margin to the paragraphs inside the activity section */
}

.activity h3 {
    margin: 25px;
    /* Add margin to the h3 element inside the activity section */
}

.activity2 {
    margin-bottom: 25px;
    /* Add bottom margin to the activity2 section */
    display: flex;
    /* Use flexbox for layout */
    width: 300px;
    /* Set width for the activity2 section */
}

.activity2 img {
    margin: 0px 25px 25px 25px;
    /* Add margin to the images inside the activity2 section */
}

.activity2 p {
    margin: 0px 25px 0px 25px;
    /* Add margin to the paragraphs inside the activity2 section */
}

.activity2 h3 {
    margin: 25px;
    /* Add margin to the h3 element inside the activity2 section */
}

.swan {
    padding-left: 25px;
    /* Add left padding to the swan section */
    width: 430px;
    /* Set width for the swan section */
}

/* DESTINATIONS SECTION */
.destinations {
    margin: 25px;
    /* Add margin to the destinations section */
}

/* NAVIGATION SECTION */
nav {
    background-color: rgba(255, 165, 0, 0.05);
    /* Set background color to a translucent orange */
    position: absolute;
    /* Position the navigation section absolutely */
    top: 0px;
    /* Position the navigation section at the top */
    left: 0px;
    /* Position the navigation section at the left */
    width: 100%;
    /* Set width to 100% */
    padding-top: 50px;
    /* Add top padding to the navigation section */
}

nav ul {
    padding-left: 200px;
    /* Add left padding to the unordered list inside the navigation section */
    list-style: none;
    /* Remove the default list-style */
}

nav li {
    display: inline;
    /* Display the list items inline */
}

nav a {
    color: #ffffff;
    /* Set link color to white */
    text-decoration: none;
    /* Remove underline from links */
    padding: 10px 20px 15px 20px;
    /* Add padding to the links */
}

nav a:visited {
    color: #ffffff;
    /* Set visited link color to white */
}

nav a:hover {
    background-color: #003579;
    /* Add background color on hover */
}

nav span {
    padding: 10px 20px 15px 20px;
    /* Add padding to the span element inside the navigation section */
    background-color: #003579;
    /* Set background color for the span element */
    color: #ffffff;
    /* Set text color to white */
}

/* Contact form
------------------------------------------------- */

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #003579;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Add a background color and some padding around the form */
.container {
    width: 650px;
    border-radius: 5px;
    background-color: rgba(0, 53, 151, 0.2);
    padding: 20px;
    margin: 25px auto;
}

iframe {
    margin: 0px 255px 0px 255px;
    /* Add margin to the iframe */
}

.findus {
    margin: 0px 255px 25px 255px;
    /* Add margin to the findus element */
}

/* footer 
------------------------------------------------- */

footer {
    margin-top: 50px;
    /* Add top margin */
    padding: 50px;
    /* Add padding */
    display: flex;
    /* Set display to flex */
    font-size: 80%;
    /* Adjust font size */
    justify-content: space-evenly;
    /* Align items evenly */
}

footer {
    padding-top: 10px;
    /* Add top padding */
    padding-bottom: 10px;
    /* Add bottom padding */
    background-color: rgba(255, 165, 0, 0.4);
    /* Set background color */
}

footer ul {
    list-style: none;
    /* Remove list styles */
}

footer li {
    display: inline;
    /* Display li elements inline */
    padding: 5px 10px 5px;
    /* Add padding */
}

address {
    padding-top: 15px;
    /* Add top padding */
    padding-bottom: 15px;
    /* Add bottom padding */
    padding-left: 200px;
    /* Add left padding */
}
